.header{
  background-color: $off-black;
  color: white;
  margin-bottom: $m-size ;
  padding: $m-size 0;
  
}
.header__title {
  font-size: $xl-size;
  margin: 0;
  
}
.header__subtitle {
  font-size: $l-size;
  font-weight: 500;
  color: $off-white;
  margin: 0;
}
@media (min-width: $break-point) {
  .header{
    margin-bottom: $xl-size ;
  }
}